// app global css
i {
    font-size: 32px;
}
.q-layout__section--marginal {
    background: transparent;
    color:#000;
}
.q-layout__shadow::after {
    box-shadow: none;
}
.q-toolbar__title {
    text-align: center;
    transform: translateX(-5%);
}