// app global css
* {
    outline: none;
}
i {
    font-size: 32px;
}

.q-layout {
    background: var(--q-color-secondary) !important;
}

.q-layout__section--marginal {
    padding: 8px 8px;
}

.q-layout__shadow::after {
    box-shadow: none;
}
.q-toolbar__title {
    text-align: center;
    transform: translateX(-5%);
}

.q-page {
    min-height: auto !important;
}

.q-img__content > div {
    color: var(--q-color-dark) !important;
}

.body--dark {
    color: #fff;
    background-color: var(--q-dark) !important;
}