
@font-face
{
  font-family: "Pacifico";
  src: url("../assets/fonts/Pacifico.ttf");
}

@font-face
{
  font-family: "Lobster";
  src: url("../assets/fonts/Lobster.ttf");
}

@font-face
{
  font-family: "Playball";
  src: url("../assets/fonts/Playball.ttf");
}